@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');





.DarkBackground{
  background: #000000;
  width: 1800px;
  height: 2005px;
}

.BackgroundMain{
  position: absolute;
  width: 1780px;
  height: 800px;
  left: 10px;
  top: 10px;
  background: #C4C4C4;
  border-radius: 30px;
  }

.PhoneImg1{
position: absolute;
width: 751px;
height: 731px;
left: 26px;
top: 262px;

}


.PhoneImg2{
  position: absolute;
width: 278px;
height: 498px;
left: 1081px;
top: 692px;
}

.PhoneImg3{
  position: absolute;
width: 608px;
height: 574px;
left: 475px;
top: 1216px;
}

.NoveltyGlasses{
  position: absolute;
  width : 109.83px;
  height: 44.72px;
  left: 758px;
  right: 932.17px;
  top: 153px;
  bottom: 1853.28px;
  
}

.NoveltyText{
  position: absolute;
  width: 150.63px;
  height: 44.72px;
  left: 891.37px;
  right: 758px;
  top: 87px;
  bottom: 1853.28px;
  
  color: #FFFFFF;
  font-family: 'Manrope';
  font-weight: 800px;
  font-size: 60px;
  letter-spacing:-4px;

}





.NoveltyText2{
  position: absolute;
width: 520px;
height: 120px;
left: 519px;
top: 972px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 40px;
/* or 133% */

display: flex;
align-items: center;
letter-spacing: -1px;

color: #FFFFFF;
}

.NoveltyText3{
  position: absolute;
width: 500px;
height: 136px;
left: 839px;
top: 1241px;


font-family: 'Manrope';
font-weight: 800;
font-size: 50px;
line-height: 68px;
display: flex;
align-items: center;
letter-spacing: -3px;

color: #FFFFFF;

text-shadow: 0px 4px 50px rgba(146, 85, 10, 0.78);
}

.NoveltyDevelopment{
  position: absolute;
width: 500px;
height: 136px;
left: 839px;
top: 1313px;


font-family: 'Manrope';
font-weight: 800;
font-size: 50px;
line-height: 68px;
display: flex;
align-items: center;
letter-spacing: -3px;

color: #FFFFFF;

text-shadow: 0px 4px 50px rgba(146, 85, 10, 0.78);

}

.NoveltyText4{
  position: absolute;
width: 339px;
height: 41px;
left: 839px;
top: 1415px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 41px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: -1px;

color: #FFFFFF;

text-shadow: 0px 4px 50px rgba(146, 85, 10, 0.78);
}



.NoveltyPhrase{
  position: absolute;
width: 553px;
height: 120px;
left: 839px;
top: 359px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 60px;
/* or 100% */

display: flex;
align-items: center;
letter-spacing: -4px;

color: #FFFFFF;

text-shadow: 0px 4px 50px rgba(6, 55, 103, 0.4);
}

.NoveltyTodayApp{
  position: absolute;
width: 156px;
height: 20px;
left: 839px;
top: 505px;

font-family: 'Manrope';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
letter-spacing: -1px;

color: #FFFFFF;

text-shadow: 0px 4px 50px rgba(6, 55, 103, 0.4);

}

.AppStoreFrame1{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 133px;
height: 38px;
left: 839px;
top: 590px;
right:675px;
bottom:1425px;
border-radius: 5px;

}
.GoogleStoreFrame1{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 133px;
height: 38px;
left: 990px;
top: 590px;
right:675px;
bottom:1425px;
border-radius: 5px;

}

.AppStoreFrame2{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 133px;
height: 38px;
left: 757px;
top: 1775px;
right:910px;
bottom:192px;
border-radius: 5px;

}

.GoogleStoreFrame2{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 133px;
height: 38px;
left: 910px;
top: 1775px;
right:757px;
bottom:192px;
border-radius: 5px;

}




.CopyRight{
  position: absolute;
  width: 105px;
  height: 16px;
  left: 848px;
  right: 847px;
  bottom: 146px;
  top: 1818px;
  
  
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
  
}


