@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');





.DarkBackground{
  background: #000000;
  width: 1800px;
  height: 2005px;
}

.BackgroundMain{
  height: 800px;
  background: #C4C4C4;
  border-radius: 30px;
  /* margin-top: 10px; */
  position: absolute;
  width: 1780px;
  left: 10px;
  top: 10px;
  }

.PhoneImg1{
  position: absolute;
  width: 751px;
  height: 731px;
  top: 262px;
}


.PhoneImg2{
  position: absolute;
  width: 268px;
  height: 498px;
  /* left: 1081px; */
  top: 692px;
}

.PhoneImg3{
  position: absolute;
width: 608px;
height: 574px;
left: 475px;
top: 1216px;
}

.NoveltyGlasses{
  position: absolute;
  width : 109.83px;
  height: 44.72px;
  /* left: 40%; */
  /* right: 932.17px; */
  top: 153px;
  bottom: 1853.28px;
  
}

.NoveltyText{
  position: absolute;
  width: 150.63px;
  height: 44.72px;
  /* left: calc(40% + 150px); */
  /* right: 758px; */
  top: 87px;
  bottom: 1853.28px;
  
  color: #FFFFFF;
  font-family: 'Manrope';
  font-weight: 800px;
  font-size: 60px;
  letter-spacing:-4px;

}





.NoveltyText2{
  position: absolute;
width: 520px;
height: 120px;
/* left: 519px; */
top: 972px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 40px;
/* or 133% */

display: flex;
align-items: center;
letter-spacing: -1px;

color: #FFFFFF;
}

.NoveltyText3{
  position: absolute;
/* width: 500px; */
height: 136px;
/* left: 839px; */
top: 1241px;


font-family: 'Manrope';
font-weight: 800;
font-size: 50px;
line-height: 68px;
display: flex;
align-items: center;
letter-spacing: -3px;

color: #FFFFFF;

text-shadow: 0px 4px 50px rgba(146, 85, 10, 0.78);
}

.NoveltyDevelopment{
  position: absolute;
width: 500px;
height: 136px;
/* left: 839px; */
top: 1313px;


font-family: 'Manrope';
font-weight: 800;
font-size: 50px;
line-height: 68px;
display: flex;
align-items: center;
letter-spacing: -3px;

color: #FFFFFF;

text-shadow: 0px 4px 50px rgba(146, 85, 10, 0.78);

}

.NoveltyText4{
  position: absolute;
width: 339px;
height: 41px;
/* left: 839px; */
top: 1415px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 41px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: -1px;

color: #FFFFFF;

text-shadow: 0px 4px 50px rgba(146, 85, 10, 0.78);
}



.NoveltyPhrase{
  position: absolute;
  width: 553px;  
  height: 120px;
  top: 359px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: -4px;
  color: #FFFFFF;
  text-shadow: 0px 4px 50px rgba(6, 55, 103, 0.4);
}

.NoveltyTodayApp{
  position: absolute;
  width: 156px;
  height: 20px;
  top: 505px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  color: #FFFFFF;
  text-shadow: 0px 4px 50px rgba(6, 55, 103, 0.4);
}

.AppStoreFrame1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 133px;
  height: 38px;
  top: 590px;
  /* right:675px; */
  bottom:1425px;
  border-radius: 5px;
}

.GoogleStoreFrame1{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 133px;
height: 38px;
/* left: 990px; */
top: 590px;
right:675px;
bottom:1425px;
border-radius: 5px;

}

.AppStoreFrame2{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 133px;
height: 38px;
/* left: 757px; */
top: 1775px;
right:910px;
bottom:192px;
border-radius: 5px;

}

.GoogleStoreFrame2{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 133px;
height: 38px;
left: 910px;
top: 1775px;
right:757px;
bottom:192px;
border-radius: 5px;

}




.CopyRight{
  position: absolute;
  width: 105px;
  height: 16px;
  /* left: 848px;
  right: 847px; */
  bottom: 146px;
  top: 1818px;
  
  
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
  
}



@media (max-width:1020px)  { 
  .BackgroundMain {
    width: 875px !important;
  }
  .NoveltyPhrase{
    font-size: 50px;
    width: 420px;
  }
  .NoveltyDevelopment{
    width: 420px;
    font-size: 40px;
  }
  .NoveltyText3{
    font-size: 45px;
  }
}

@media (max-width:760px)  { /* smartphones, iPhone, portrait 480x320 phones */
  .BackgroundMain {
    width: 695px !important;
  }
  .NoveltyPhrase{
    font-size: 45px;
    width: 360px;
  }
  .NoveltyDevelopment{
    font-size: 45px;
    width: 300px;
  }
  .NoveltyText2{
    width: 400px;
    font-size: 25px;
  }
  .NoveltyText3{
    width: 300px;
    flex-wrap: wrap;
    top: 1200px;
  }
  .PhoneImg2 {
    left: 455px !important;
    width: 260px;
  }
}


